body {  
  font-family: Arial, sans-serif;  
  margin: 0px;  
  background: white;
}

.media-preview{
    width: 100%;
    height: 100vh;
    min-height: 320px;
    overflow:hidden;
    background: whitesmoke;
   }


  .media-preview img, .media-preview video{
    width:100%;
    height:100%;
    object-fit:cover;
  }


 .nav{
   border: 1px solid red;
   width: 100px; 
   height: 300px;
 }


.nav, img{
  width: 30px;
  height: 30px;
}

input[type="file"]{
  display: none;
}


.post-btn{
  padding: 4px 9px;   
  width: 40%;    
  background-color: black;  
  color: white;  
  font-weight: bold; 
  font-size: 16px;  
  border: none;  
  border-radius: 5px;  
}

.draft-btn{
  padding: 4px 9px;   
  width: 40%;    
  background-color: gray;  
  color: white;  
  font-weight: bold; 
  font-size: 16px;  
  border: none;  
  border-radius: 5px;  
}

.postBtn-nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  ap: 10px;
  
}


#hashtag,#location{
  width: 50%; 
  padding: 3px;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid grey;
}

.tags{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}