body {  
  font-family: Arial, sans-serif;  
  margin:  30px 0px 30px 0px;  
  background: white;
}

.media-box{
    position: relative;
    width: 100%;
    height: 70vh;
    min-height:320px;
    border-radius: 1px;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    border: 1px solid gray;

   }

   .media-placeholder{
    text-align:center;
    color:var(--muted);
  }

  .media-box img, .media-box video{
    width:100%;
    height:100%;
    object-fit:cover;
  }

 .media-nav{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;   
 }

.nav{
  position: absolute;
  top: 10%;
  right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

input[type="file"]{
  display: none;
}


.post-btn{
  padding: 4px 9px;   
  width: 50%;    
  background-color: black;  
  color: white;  
  font-weight: bold; 
  font-size: 16px;  
  border: none;  
  border-radius: 5px;  
}

.postBtn-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

#overlayText{
  position: absolute;
  top: 10%;
  left: 30%;
  color: white;
  font-size: 20px;
  display: none;
}

#textInputBox{
  display: none;
  margin: 10px 0px;
}