body {  
  font-family: Arial, sans-serif;  
  margin: 0px;  
  background: white;
}

.media-preview{
    width: 100%;
    height: 100vh;
    min-height: 320px;
    overflow: hidden;
    background: white;
   }


  .media-preview img, .media-preview video{
    width:100%;
    height:100%;
    object-fit:cover;
  }

  input[type="file"]{
  display: none;
}

.media-nav{
  position: fixed;
  top: 20%;
  right: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 10px;
}

.m-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid whitesmoke;
  border-radius: 100%;
  padding: 7px;
  width: 30px;
  height: 30px;
  background: whitesmoke;
}


.nav, img{
  width: 20px;
  height: 20px;
}

span{
  font-size: 11px;
}

.post-btn{
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px 9px;   
  width: 200px;    
  background-color: black;  
  color: white;  
  font-weight: bold; 
  font-size: 16px;  
  border: none;  
  border-radius: 5px; 
}

#btn-alert{
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid whitesmoke;
  background: whitesmoke;
  box-shadow: 1px 2px 2px gainsboro;
  font-size: 13px;
  width: 100px;
  height: 15px;
  text-align: center;
  text-shadow: 1px 1px grey;
  padding: 5px;
  border-radius: 50% / 100px;
}

#text-input{
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  padding: 5px;
  outline: none;
  font-size: 16px;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  background: white;
}

#overlay-text{
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  padding: 5px;
  font-size: 18px;
  background: whitesmoke;
  text-align: center;
  z-index: 2;
  border-radius: 9px;
}

#close-overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgb(0,0,0,0.2);
}

.effect-panel{
position: fixed;
bottom: 0px;
left: 0px;
width: 100%;
height: 0px;
background: whitesmoke;
z-index: 1;
transition: height 0.2s ease;
}

.drag-handle{
  width: 50px;
  height: 10px;
  background: gainsboro;
  border-radius: 9px;
}

#effect-panel-close{
  display: none;
  position: fixed;
  top: 0;
  left: 0; 
  bottom: 0;
  right: 0;
  width: 100%;
  background: rgb(0,0,0,0.1);
  z-index: 1;
}

.effect-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 20px;
  width: 100%;
  height: 100%;
  background: white;
}

.effect{
  width: 30px;
  height: 30px;
}