body {  
  font-family: Arial, sans-serif;  
  margin: 0px;  
  background: white;
}

.media-preview{
    width: 100%;
    height: 100vh;
    min-height: 320px;
    overflow:hidden;
    background: white;
   }


  .media-preview img, .media-preview video{
    width:100%;
    height:100%;
    object-fit:cover;
  }

.media-nav{
  position: fixed;
  top: 5%;
  right: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.m-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid whitesmoke;
  border-radius: 100%;
  padding: 7px;
  width: 30px;
  height: 30px;
  background: whitesmoke;
}


.nav, img{
  width: 20px;
  height: 20px;
}

span{
  font-size: 11px;
}
input[type="file"]{
  display: none;
}


.post-btn{
  padding: 4px 9px;   
  width: 40%;    
  background-color: black;  
  color: white;  
  font-weight: bold; 
  font-size: 16px;  
  border: none;  
  border-radius: 5px;  
}

.draft-btn{
  padding: 4px 9px;   
  width: 40%;    
  background-color: gray;  
  color: white;  
  font-weight: bold; 
  font-size: 16px;  
  border: none;  
  border-radius: 5px;  
}

.postBtn-nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;

  
}


#hashtag,#location{
  width: 50%; 
  padding: 3px;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid grey;
}

.tags{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}