*,
  *::before, *::after{
    box-sizing: border-box;  
  }
  body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 120px 0 0 0;
  }
  
.bottom-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 8px 8px 0 8px;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 3;
    border-top: 1px solid #eee;
  }

  .nav-item{  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 12px;
    color: black;
    padding: 0px 12px;
  }

  .nav-item img{
    width: 24px;
    height: 24px;
    margin-bottom: 3px;
  }

  .profile-photo{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid white;
    background-size: cover;
    background-position: center;
    background-color: gainsboro;
  }

  @media(max-width: 600px){
    .profile-photo{
      width: 35px;
      height: 35px;	 
    }
  }

input{
    outline: none;
    padding: 12px;
    font-size: 14px;
    width: 100%;
    height: 20px; 
    font-size: 16px;
    background-color: whitesmoke;
    border: none;
    text-align: left; 
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: white;
}

.search-nav{
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px 12px;
  width: 93%;
}

.online-activities{
  display: flex; 
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  font-size: 12px;
  background: white;
}

button{
  width: 80px;
  border-radius: 9px;
  border: 1px solid grey;
  background-color: white;
  font-size: 12px;
  padding: 2px;
}

.dots{
  width: 0px;
  height: 0px;
  border-radius: 100%;
  border: 2px solid black;
}
#chats-container{
  padding: 3px 5px 10px 5px; 
  background: white;
}
.message-id{
  position: relative;
  display: flex;
  align-items: center;
}
.info-message{
 display: flex;
 flex-direction: column;
 width: 100%;
}
#chat-time{
  position: absolute;
  bottom: 1;
  right: 2px;
  padding-top: 8px;
  font-size: 11px;
  color: grey;
  margin-left: auto;
}
.last-message{
  max-width: 240px; 
  white-space: nowrap;
  text-overflow: ellipsis; 
  overflow: hidden; 
  font-weight: normal; 
  font-size: 15px; 
  margin: 5px 0 0; 
  color: black;
  text-align: left;
  padding-left: 12px
}
.message-count{
  position: absolute;
  top: 10px;
  right: 5px;
  border: 1px solid black;
  border-radius: 100px;
  padding: 2px;
  font-size: 12px;
  font-weight: bolder;
  background: black;
  color: white;
  border: 1px solid black;
}


.friend-avater{
  width: 50px;
  height: 50px;
  border: 1px solid whitesmoke;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.friend-name{
  font-weight: bold;
  font-size: 18px;
  padding-left: 12px;
}


.alert-nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 1%;
  left: 0%;
  width: 100%; 
}

.alert{
  background-color: red;
  color: white;
  width: 23px; 
  height: 18px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50px;
  border: 1px solid red;
  text-align: center;
}

#menu{
  position: fixed;
  top: 50px;
  right: 0px;
  box-shadow: 1px 1px 4px grey;
  border-radius: 4px;
  width: 0px;
  background: whitesmoke;
  z-index: 1;
  transition: width 0.2s ease;
}

#background-menu{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: transition;
}

.menu-icon{
  width: 25px;
  height: 25px;
}
